<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cards</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='http://serve.fontsproject.com/css?family=Asakim:700' rel='stylesheet' type='text/css'>
    <link href='http://serve.fontsproject.com/css?family=Noot:400' rel='stylesheet' type='text/css'>
    <link href='http://serve.fontsproject.com/css?family=Alef:700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>

<body>
    hello
    <%= user.name %>
        <%= category %>
            <script>
                var user = '<%- JSON.stringify(user) %>';
            </script>
</body>