<script>
    var user = '<%- JSON.stringify(user) %>';
    var category = '<%- category %>';
</script>
<link rel='stylesheet' type='text/css' media='screen' href='/css/cards.css'>
<div class="flip-card">
    <link href='http://serve.fontsproject.com/css?family=Noot:400' rel='stylesheet' type='text/css'>
    <div class="flip-card-inner">
        <div id="front_card" class="flip-card-front">
            <h1 id="headline-front"></h1>
        </div>
        <div id="back_card" class="flip-card-back">
            <h1 id="headline-back"></h1>
        </div>
    </div>

</div>
<input id="prev" type=image class="prev" src="../img/left.png">
<input id="next" type=image class="next" src="../img/right.png">
<input id="speak" type=image class="img" src="../img/speaker.png">