<head>
    <title>Space Invaders</title>
</head>
<body>
    hello
    <%= user.name %>
    <%= category %>
        <script>
            var user = '<%- JSON.stringify(user) %>';
            var category = '<%- category %>';
        </script>   
    <!--
        1. HTML
        2. CSS
        3. div.background 1200x800
        4. div.hero 50x50
        5. move left / right (bonus: move up/down)  (bonus: move hero with mouse)
        6. fire 17x47
        7. game loop
        8. div.enemy
        9. enemy objects / enemy movement
        10. collision detection
    -->
    <div id="background">
        <div id="hero"></div>
        <div id="missiles"></div>
        <div id="enemies"></div>
    </div>
    <script type="module" src="/js/card-game.js"></script>

    <link rel='stylesheet' type='text/css' media='screen' href='/css/card-game.css'>
</body>
</html>