<head>
    <title>Space Invaders</title>
</head>
<body>
    hello
    <%= user.name %>
    <%= category %>
        <script>
            var user = '<%- JSON.stringify(user) %>';
            var category = '<%- category %>';
        </script>   
    <div id="background">
        <div id="hero"></div>
        <div id="missiles"></div>
        <div id="enemies"></div>
        
    </div>
    <script type="module" src="/js/card-game.js"></script>
    <input id="play" type=image class="play" src="/img/play.jpg" >
    <input id="speaker" type=image class="speaker" src="/img/speaker.png" >
    <link rel='stylesheet' type='text/css' media='screen' href='/css/card-game.css'>
</body>
</html>