hello
<%= user.name %>
    <%= category %>
        <script>
            var user = '<%- JSON.stringify(user) %>';
            var category = '<%- category %>';
        </script>
<link rel='stylesheet' type='text/css' media='screen' href='/css/cards.css'>
<div class="flip-card">
    <div class="flip-card-inner">
      <div id="front_card" class="flip-card-front">
        <h1 id="headline-front"></h1>
      </div>
      <div id="back_card" class="flip-card-back">
      </div>
    </div>
    <button id="next" type="button">הבא</button>
    <button id="prev" type="button">הקודם</button>
    <button id="speak" type="button">איך אומרים את זה?</button>
  </div>