<nav class="top-bar navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle user-name" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.name %>
                </a>
                <div class="dropdown-menu dropdown-menu-right my-menue" aria-labelledby="navbarDropdownMenuLink">
                    <form action="/games/settings" method="POST">
                        <button type="submit" class="dropdown-item  my-item" id="settings-btn">פרטי
                            משתמש</button></br></br>
                    </form>
                    <a class="dropdown-item my-item" id="logout-btn" href="/users/logout">התנתק</a>
                </div>
            </li>
            <li class="nav-item tablinks">
                <a class="nav-link" href="#level1" id="A1" onclick="openLevels(event, 'level1')">שלב 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#level1" id="A2" onclick="openLevels(event, 'level2')">שלב 2</a>
            </li>
            <li class="logo">
                <h1>זמן אנגלית</h1>
            </li>

        </ul>
    </div>
</nav>

<!-- level1 content -->
<div id="level1" class="tabcontent">
    <h3 class="level">שלב ראשון</h3>
    <div class="tree">
        <ul>
            <li>
                <div class="level-1 step-1 leaves">
                    <button class="category-btn" tabindex="0" class="btn" role="button" data-toggle="popover"
                        data-trigger="focus" data-html="true" data-container="body" data-placement="left"
                        id="personality" onclick="saveCategory(id)">
                        <img src="/img/personality.png"><br>
                        אישיות
                    </button>
                </div>
                <ul>
                    <li>
                        <div class="level-2 leaves">
                            <button tabindex="0" class="btn" role="button" data-toggle="popover" data-trigger="focus"
                                data-html="true" data-container="body" data-placement="left" id="animals"
                                onclick="saveCategory(id)">
                                <img src="/img/animal.png"><br> חיות
                            </button>
                        </div>
                        <ul>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="clothes"
                                        onclick="saveCategory(id)">
                                        <img src="/img/clothes.png"><br>
                                        בגדים
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="nature"
                                        onclick="saveCategory(id)">
                                        <img src="/img/nature.png"><br>
                                        טבע
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                data-toggle="popover" data-trigger="focus" data-html="true" data-container="body"
                                data-placement="left" id="food" onclick="saveCategory(id)">
                                <img src="/img/food.png"><br>
                                אוכל
                            </button>
                        </div>
                        <ul>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="education"
                                        onclick="saveCategory(id)">
                                        <img src="/img/education.png"><br>
                                        חינוך
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="actions"
                                        onclick="saveCategory(id)">
                                        <img src="/img/activity.png"><br>
                                        פעולות
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- level2 content -->
<div id="level2" class="tabcontent">
    <h3 class="level">שלב שני</h3>
    <div class="tree">
        <ul>
            <li>
                <div class="level-1 step-1 leaves"> <button tabindex="0" class="btn" role="button" data-toggle="popover"
                        data-trigger="focus" data-html="true" data-container="body" data-placement="left"
                        id="personality" onclick="saveCategory(id)" disabled>
                        <img src="/img/personality.png"><br>אישיות
                    </button>
                </div>
                <ul>
                    <li>
                        <div class="level-2 leaves"> <button tabindex="0" class="btn" role="button"
                                data-toggle="popover" data-trigger="focus" data-html="true" data-container="body"
                                data-placement="left" id="animals" onclick="saveCategory(id)" disabled>
                                <img src="/img/animal.png"><br>
                                חיות
                            </button>
                        </div>
                        <ul>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="clothes"
                                        onclick="saveCategory(id)" disabled> <img src="/img/clothes.png"><br>
                                        בגדים
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="nature"
                                        onclick="saveCategory(id)" disabled><img src="/img/nature.png"><br>
                                        טבע
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                data-toggle="popover" data-trigger="focus" data-html="true" data-container="body"
                                data-placement="left" id="food" onclick="saveCategory(id)" disabled><img
                                    src="/img/food.png"><br>
                                אוכל
                            </button>
                        </div>
                        <ul>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="education"
                                        onclick="saveCategory(id)" disabled> <img src="/img/education.png"><br>
                                        חינוך
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="level-3 leaves"> <button tabindex="0" class="btn" role="button"
                                        data-toggle="popover" data-trigger="focus" data-html="true"
                                        data-container="body" data-placement="left" id="actions"
                                        onclick="saveCategory(id)" disabled> <img src="/img/activity.png"><br>
                                        פעולות
                                    </button>
                                </div>

                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="popover-content" class="hide" style=" background-color: rgb(6, 245, 225)">
    <form action="/games/cards" method="POST">
        <input id="cards-category" name="category" type="hidden" value="">
        <button class="my-btn" type="submit">כרטיסיות לימוד</button></br></br>
    </form>
    <form action="/games/snake" method="POST">
        <input id="snake-category" name="category" type="hidden" value="">
        <button class="my-btn" type="submit"> סנייק</button></br></br>
    </form>
    <form action="/games/card-game" method="POST">
        <input id="card-game-category" name="category" type="hidden" value="">
        <button class="my-btn" type="submit"> יריות</button></br></br>
    </form>
</div>

<script>
    var user = '<%- JSON.stringify(user) %>';
</script>