<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href='http://serve.fontsproject.com/css?family=Asakim:700' rel='stylesheet' type='text/css'>
    <link href='http://serve.fontsproject.com/css?family=Noot:400' rel='stylesheet' type='text/css'>
    <link href='http://serve.fontsproject.com/css?family=Alef:700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>

<body id="dashboard">
    <nav class="top-bar navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle user-name" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.name %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item  my-item" href="#">פרטי משתמש</a>
                        <a class="dropdown-item my-item" href="/users/logout">התנתק</a>
                        <a class="dropdown-item my-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item tablinks">
                    <a class="nav-link" href="#level1" id="A1" onclick="openLevels(event, 'level1')">שלב 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#level1" id="A2" onclick="openLevels(event, 'level2')">שלב 2</a>
                </li>
                <li class="logo">
                    <h1>זמן אנגלית</h1>
                </li>

            </ul>
        </div>
    </nav>

    <!-- level1 content -->
    <div id="level1" class="tabcontent">
        <h3 class="level">שלב ראשון</h3>
        <div class="tree">
            <ul>
                <li>
                    <div class="level-1 step-1">
                        <button tabindex="0" class="btn" role="button" data-toggle="popover" data-trigger="focus"
                            data-html="true" data-container="body" data-placement="left" id="personality"
                            onclick="saveCategory(id)">
                            אישיות
                        </button>
                    </div>
                    <ul>
                        <li>
                            <div class="level-2"> <button tabindex="0" class="btn" role="button" data-toggle="popover"
                                    data-trigger="focus" data-html="true" data-container="body" data-placement="left"
                                    id="animals" onclick="saveCategory(id)"> חיות </button></div>
                            <ul>
                                <li>
                                    <div class="level-3"> <button tabindex="0" class="btn" role="button"
                                            data-toggle="popover" data-trigger="focus" data-html="true"
                                            data-container="body" data-placement="left" id="clothes"
                                            onclick="saveCategory(id)"> בגדים </button></div>
                                </li>
                                <li>
                                    <div class="level-3" id="nature"> <button> טבע </button></div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="level-2" id="food"><button> אוכל </button></div>
                            <ul>
                                <li>
                                    <div class="level-3" id="education"> <button> חינוך </button></div>
                                </li>
                                <li>
                                    <div class="level-3" id="actions"> <button> פעולות </button></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- level2 content -->
    <div id="level2" class="tabcontent">
        <h3 class="level">שלב שני</h3>
        <div class="tree">
            <ul>
                <li>
                    <div class="level-1 step-1" id="personality"> <button> אישיות </button></div>
                    <ul>
                        <li>
                            <div class="level-2" id="animals"> <button> חיות </button></div>
                            <ul>
                                <li>
                                    <div class="level-3" id="clothes"> <button> בגדים </button></div>
                                </li>
                                <li>
                                    <div class="level-3" id="nature"> <button> טבע </button></div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="level-2" id="food"><button> אוכל </button></div>
                            <ul>
                                <li>
                                    <div class="level-3" id="education"><button> חינוך </button></div>
                                </li>
                                <li>
                                    <div class="level-3" id="actions"> <button> פעולות </button></div>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="popover-content" class="hide">
        <form action="/games/cards" method="POST">
            <input id="cards-category" name="category" type="hidden" value="">
            <button type="submit">כרטיסיות לימוד</button></br></br>
        </form>
        <button>משחק 1</button></br></br>
        <button>משחק 2</button>
    </div>


    <script>
        var user = '<%- JSON.stringify(user) %>';
    </script>
</body>

</html>