<table>
    <tr id="game-page">
        <td>
            <div>
                <input id="speaker" type=image class="img" src="/img/speaker.png">
            </div>
        </td>
        <td>
            <div id="game-board">

            </div>
        </td>
        <td id="other">
            <div>
                <div id="heart-rate"></div>
                <button id="instructions" class="collapsible">הוראות</button>
                <div class="content">
                    <p style="color: blue;">
                        כדי להתחיל יש להגיע לנקודה שמעל הדגל
                    </p>
                    <p style="color:  blueviolet;">
                        עלייך לאכול רק את המילה המושמעת

                    </p>
                    <p style="color: crimson">
                        אכילה מתבעצת על ידי הגעה לנקודה שמעל המילה
                    </p>
                    <p style="color: darkorange">
                        אם תוכל מילה שלא הושמעה - לב אחד ירד

                    </p>
                    <p style="color: rgb(241, 7, 85)">
                        אם תגיע לאפס לבבות, אם הנחש יצא מתחומו או שהנחש יאכל את עצמו, המשחק יגמר.

                    </p>
                    <p style="color:rgb(4, 196, 4)">
                        בכדי להתחיל משחק חדש רענן את העמוד
                    </p>
                    <p style="color: rgb(4, 131, 99);">
                        כדי לשמוע את המילה הנוכחית פעם נוספת הקש על סימן המיקרופון או על מקש הרווח
                    </p>
                </div>
            </div>
            <h1 id="message">
                hi
            </h1>
        </td>
    </tr>
</table>

<script>
    var user = '<%- JSON.stringify(user) %>';
    var category = '<%- category %>';
</script>
<script type="module" src="/js/snake/game.js"></script>
<script type="module" src="/js/snake/game-page.js"></script>
<link rel='stylesheet' type='text/css' media='screen' href='/css/snake.css'>