<div class="container center">
    <link rel='stylesheet' type='text/css' media='screen' href='css/study_cards.css'>
    <div class="card">
      <h2>study card: topic</h2>
      <hr/>
      <p> <%= word %> : מילה
        <br> תרגום: <%= translation %> 
    </p>
      <button>הבא</button>
      <button>איך אומרים את זה?</button>
    </div>
  </div>