div#background {
    width: 1200px;
    height: 800px;
    background-image: url('../img/assets/background.png');
    position: absolute;
}

div#hero {
    width: 50px;
    height: 50px;
    background-image: url('../img/assets/hero.png');
    position: absolute;
    left: 575px;
    top: 700px; 
}

div#missiles {
    width: 1200px;
    height: 800px;
    position: absolute;
}

div.missile1 {
    width: 10px;
    height: 28px;
    background-image: url('../img/assets/missile1.png');
    position: absolute;
}

div#enemies {
    width: 1200px;
    height: 800px;
    position: absolute;

}

div.enemy {
    width: 50px;
    height: 50px;
    position: absolute;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .play{
    position: absolute;
    left: 48%;
    top: 85%;
    width: 8%;
    height: 8%;
}

.speaker{
    position: absolute;
    left: 5%;
    top: 20%;
    width: 8%;
    height: 15%;
}


#points-headline {
    position: absolute;
    top: 0px;
    left:84%;
    margin: 40px;
    opacity: 0.7;
    font-size: 5em;
    color: blueviolet;
}

#points {
    position: absolute;
    top: 100px;
    left:88%;
    margin: 40px;
    opacity: 0.7;
    font-size: 5em;
    color: blueviolet;
  }


  #life-headline {
    position: absolute;
    top: 40%;
    left:82%;
    margin: 40px;
    opacity: 0.7;
    font-size: 5em;
    color: blueviolet;
  }

  #life {
    position: absolute;
    top: 50%;
    left:88%;
    margin: 40px;
    opacity: 0.7;
    font-size: 5em;
    color: blueviolet;
  }


